ADF/GetWebMedata.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDataLakeLS":{"type":"string"},"GithubhttpLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/GetWebMedata')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"WebMedata","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{},"url":"https://github.com/renukasreec/NetflixDataProject/tree/main/data"}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"WebMedata","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"metadataop","value":{"value":"@activity('WebMedata').output.Response","type":"Expression"}}},{"name":"If Condition1","type":"IfCondition","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@not(equals(variables('metadataop'), null))\n","type":"Expression"},"ifFalseActivities":[{"name":"Fail1","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":"error faileddd","errorCode":"090"}}],"ifTrueActivities":[{"name":"Execute Pipeline","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"CopyDataToDataLake","type":"PipelineReference"},"waitOnCompletion":false,"parameters":{}}}]}}],"policy":{"elapsedTimeMetric":{}},"variables":{"metadataop":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-07-25T11:32:23Z"},"dependsOn":["[concat(variables('factoryId'), '/pipelines/CopyDataToDataLake')]"]},{"name":"[concat(parameters('factoryName'), '/CopyDataToDataLake')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Validationcheck","type":"Validation","dependsOn":[],"userProperties":[],"typeProperties":{"dataset":{"referenceName":"netfilxtitleds","type":"DatasetReference","parameters":{}},"timeout":"0.12:00:00","sleep":10}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Validationcheck","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.arryoffilenames","type":"Expression"},"activities":[{"name":"Copy data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"dsforrawfilefromgithub","type":"DatasetReference","parameters":{"file_name":{"value":"@item().file_name","type":"Expression"}}}],"outputs":[{"referenceName":"dsfordl","type":"DatasetReference","parameters":{"file_name":{"value":"@item().file_name","type":"Expression"},"folder_name":{"value":"@item().folder_name","type":"Expression"}}}]}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"arryoffilenames":{"type":"Array","defaultValue":[{"folder_name":"netflix_cast","file_name":"netflix_cast.csv"},{"folder_name":"netflix_category","file_name":"netflix_category.csv"},{"folder_name":"netflix_countries","file_name":"netflix_countries.csv"},{"folder_name":"netflix_directors","file_name":"netflix_directors.csv"}]}},"annotations":[],"lastPublishTime":"2025-07-25T09:31:14Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/netfilxtitleds')]","[concat(variables('factoryId'), '/datasets/dsforrawfilefromgithub')]","[concat(variables('factoryId'), '/datasets/dsfordl')]"]},{"name":"[concat(parameters('factoryName'), '/netfilxtitleds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"netflix_titles.csv","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/dsforrawfilefromgithub')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('GithubhttpLS')]","type":"LinkedServiceReference"},"parameters":{"file_name":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"renukasreec/NetflixDataProject/refs/heads/main/data/@{dataset().file_name}","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/dsfordl')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeLS')]","type":"LinkedServiceReference"},"parameters":{"file_name":{"type":"string"},"folder_name":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().file_name","type":"Expression"},"folderPath":{"value":"@dataset().folder_name","type":"Expression"},"fileSystem":"bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}